@import './var.css';

@font-face {
  font-family: 'Fira Code';
  src: url('font/FiraCode-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;

  color: rgba(0, 0, 0, 0.87);
}

.code {
  font-feature-settings: "calt" 1; /* Enable ligatures for IE 10+, Edge */
  text-rendering: optimizeLegibility; /* Force ligatures for Webkit, Blink, Gecko */
  /*width: 30em;*/
  /*margin: 5em auto;*/
  white-space: pre-wrap;
  word-break: break-all;
  font-family: "Fira Code";
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
}

h1 {
  font-size: 28px;
  line-height: 32px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}

h6 {
  font-size: 14px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1em;
}

a {
  color: var(--color-blue);
  &:not([href]) {
    cursor: pointer;
  }
}

.error {
  color: var(--color-red);
}

.success {
  color: var(--color-green);
}

.link {
  color: var(--color-blue);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
