@import '../../styles/var.css';

:root {
  --purple: #c775df;
  --red: #e26b73;
  --blue: #5daef2;
}

.purple {
  color: #c775df;
}
.red {
  color: #e26b73;
}
.blue {
  color: var(--blue);
}

.purple {
  color: ;
}

.slide {
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: black;
}

.slideVerticalCenter {
  composes: slide;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro {
  font-size: 8vh;
  line-height: 1.2em;
  font-weight: bold;
}

.absolute {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 42px;
}

.media {
  position: absolute;
  max-height: 60vh;
  max-width: 60vw;
}
